# Deployment Environment Variables
OWNER=Taca-Ua
OWNER_LOWER=taca-ua
EXPOSED_HTTPS_PORT=443
EXPOSED_HTTP_PORT=80

# TLS/SSL Configuration
DOMAIN=localhost

# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL=postgresql://user:password@postgres:5432/taca_ua

# Object Storage Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Identity and Access Management
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=taca-ua

# Message Queue Configuration
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Django Configuration
DJANGO_SECRET_KEY="your-secret-key-here"
